<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BeetleX.Redis" version="1.4.6.1803" />
  <package id="csredis" version="3.2.1" />
  <package id="FreeRedis" version="0.5.4" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" />
  <package id="NewLife.Redis" version="4.1.2022.603" />
  <package id="OsmSharp" version="4.2.0.723" />
  <package id="OsmSharp.Redis" version="4.2.0.723" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.2" />
  <package id="protobuf-net" version="2.0.0.668" />
  <package id="ServiceStack.Common" version="6.1.0" />
  <package id="ServiceStack.Interfaces" version="6.1.0" />
  <package id="ServiceStack.Redis" version="6.1.0" />
  <package id="ServiceStack.Text" version="6.1.0" />
  <package id="StackExchange.Redis" version="2.6.45" />
  <package id="System.Diagnostics.PerformanceCounter" version="5.0.0" />
  <package id="System.IO.Pipelines" version="5.0.1" />
  <package id="System.Threading.Channels" version="5.0.0" />
  <package id="TeamDev.Redis.Client" version="1.0.4" />
  <package id="Zlib.Portable" version="1.9.2" />
</packages>